body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 10px 50px 10px 50px;
  background-color: black;

}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  display: block;
}

#navbar a {
  margin-left: 75px;
  margin-right: 75px;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

img {
  float: left;
  margin-right: 10px;
}

P {
  max-width: 900px;
}


